* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  height: 100vh;
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
  width: 800px;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

#foto {
  width: 200px;
  border-radius: 50%;
  border: 5px solid white;
  margin-bottom: 20px;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 50px;
}

p {
  color: lightgray;
  font-size: 1.5rem;
}
